<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{message_title}}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    _____________________
    <p>
    You received this mail because you are member of the CS @ St Andrews Participant Database.</br>
    If you want to be deleted from the database you can <a href="{{ unsubscribe_url}}">unsubscribe</a>.</br>
    If you think you should not have received this mail, (e.g. because it clearly does
    not target you, or have any other questions) please contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</br>
    </p>
</body>
</html>

