{% extends "base_form.html" %}

{% block form_heading %}Signup form for participant database{% endblock %}

{% block info_box %}
    <div class="">
        <p> The participant database (PDB) is intended to allow researchers from Computer Science to reach people
            that are interested in participating in experiments and user studies.
            It works like a mailing list, however you will only be contacted for experiments you are eligible for.
            This should avoid pointless and possibly annoying mails.
        </p>
    </div>

    <div class=" well">
        <div>
            <h4>Fair Collection Statement</h4>

            <p> The University of St Andrews, School of Computer Science will store the submitted personal data
                provided
                by you.</p>

            <p>This information will be used by staff within the School of Computer Science to help identify
                potential
                research participants. The University may then make contact with individuals to enquire if they
                would be
                willing to participate in a program of research. The information in question will be only used for
                the
                purposes described herein.</p>

            <p>If you have any questions about the use of your personal data in this instance or if you no longer
                wish
                to be included within the School of Computer Science experimental participants database please
                contact
                pdb@cs.st-andrews.ac.uk.</p>

        </div>
    </div>


{% endblock %}
	